Download data from kaggle to local

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("syedanwarafridi/vehicle-sales-data")

print("Path to dataset files:", path)

d:\DocumentsSte\VSCode\Proj1Streamlit\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/syedanwarafridi/vehicle-sales-data?dataset_version_number=1...

100%|██████████| 18.8M/18.8M [00:02<00:00, 8.78MB/s]

Extracting files...

Path to dataset files: C:\Users\steph\.cache\kagglehub\datasets\syedanwarafridi\vehicle-sales-data\versions\1

To treat downloaded data in notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

auth = r"D:\DocumentsSte\VSCode\Proj1Streamlit\resources\car_prices.csv"

df = pd.read_csv(auth)

df = df.dropna()
df = df.drop_duplicates()

df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [ ]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,472325.000000,472325.000000,472325.000000,472325.000000,472325.000000
mean,2010.210980,30.774177,66701.732040,13837.058964,13690.512058
std,3.822151,13.286866,51939.586894,9532.229273,9613.033738
min,1990.000000,1.000000,1.000000,25.000000,1.000000
25%,2008.000000,24.000000,28137.000000,7425.000000,7200.000000
50%,2012.000000,35.000000,51085.000000,12300.000000,12200.000000
75%,2013.000000,41.000000,96590.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [72]:
df_make_year_count1 = df.value_counts(subset=["make", "year"])
# df_make_year_count2 = df.groupby(["make", "year"]).agg(["count"])
df_make_year_count3 = df.groupby(["make", "year"]).agg({"model": "count"})
df_make_year_count4 = df.groupby(["make", "year"])[["sellingprice"]].agg(["count","mean"])
df_make_year_count5 = df.groupby(["make", "year"])[["model"]].agg("count")


df_make_year_count3.head()

            model
make  year
Acura 1993      2
      1994      9
      1995      6
      1996     12
      1997     30

In [37]:

df_make_year_count.describe()

count     1156.000000
mean       474.512111
std       1528.677073
min          1.000000
25%          5.750000
50%         44.000000
75%        303.000000
max      22332.000000
Name: count, dtype: float64

In [45]:
df_make_year_sum = df.groupby(["make", "year"])[['odometer', 'mmr', 'sellingprice']].agg(['mean', 'std'])

df_make_year_sum.head()

                 odometer                       mmr             sellingprice  \
                     mean           std        mean         std         mean
make  year
Acura 1993  274462.000000   2211.830012  250.000000   70.710678   475.000000
      1994  191918.222222  68870.396472  716.666667  357.290148   722.222222
      1995  188967.333333  49620.228724  770.833333  212.965177   520.833333
      1996  193961.000000  46815.135288  845.833333  331.119543   820.833333
      1997  204485.900000  86038.777108  874.166667  383.635251   929.166667


                   std
make  year
Acura 1993   35.355339
      1994  502.562876
      1995  196.479431
      1996  554.919459
      1997  757.664382

In [ ]:
df_make_sum = df.groupby(["make"])[['sellingprice']].agg(['count','mean','sum','std'])

# df_make_sum['sellingprice']['count']
bmw = df_make_sum.loc['BMW']
bmw = df_make_sum.loc['BMW']['sellingprice']
bmw = df_make_sum.loc['BMW']['sellingprice']['count']

bmw

np.float64(17509.0)

In [97]:
df_make_year_sum = df.groupby(["make","year"])[['sellingprice']].agg(['count','mean','sum','std'])

# df_make_sum['sellingprice']['count']
bmw = df_make_year_sum.loc['BMW'].loc[1992]
# bmw = df_make_year_sum.loc[1992]
# bmw = bmw.loc[1992]
# bmw = df_make_year_sum.loc['BMW']['sellingprice']
# bmw = df_make_year_sum.loc['BMW']['sellingprice']['count']

bmw

sellingprice  count      1.0
              mean     450.0
              sum      450.0
              std        NaN
Name: 1992, dtype: float64

In [2]:
df_makes = df['make'].unique()

df_makes

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Cadillac', 'Acura', 'Lexus', 'Hyundai', 'Buick', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'Jaguar', 'Volkswagen', 'Toyota',
       'Subaru', 'Scion', 'Porsche', 'Dodge', 'FIAT', 'Chrysler',
       'Ferrari', 'Honda', 'GMC', 'Ram', 'smart', 'Bentley', 'Pontiac',
       'Saturn', 'Maserati', 'Mercury', 'HUMMER', 'Saab', 'Suzuki',
       'Oldsmobile', 'Rolls-Royce', 'Isuzu', 'Plymouth', 'Tesla',
       'Aston Martin', 'Geo', 'Fisker', 'Daewoo', 'Lamborghini', 'Lotus'],
      dtype=object)